.efeitoBorda {
  position: relative;
  overflow: hidden;
  padding: 10px;
  width: fit-content;
}
.efeitoBorda img {
  margin: 0;
}
.efeitoBorda span {
  position: absolute;
}
.efeitoBorda span:first-of-type {
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, transparent, #30C152);
  animation: animatioTop 2s linear infinite;
}
.efeitoBorda span:nth-of-type(2) {
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(to bottom, transparent, #30C152);
  animation: animatioRight 2s linear infinite -1s;
}
.efeitoBorda span:nth-of-type(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, transparent, #30C152);
  animation: animatioBottom 2s linear infinite;
}
.efeitoBorda span:nth-of-type(4) {
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(to bottom, transparent, #30C152);
  animation: animatioLeft 2s linear infinite -1s;
}

@keyframes animatioTop {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animatioRight {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animatioBottom {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animatioLeft {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.button {
  border: 2px solid transparent;
  border-image: linear-gradient(20deg, #30C152, #9f3ca8);
  border-image-slice: 1;
  border-radius: 0;
  background-color: #121212;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.button::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(20deg, #30C152, #9f3ca8);
  transition: all 0.5s ease;
}

.button:hover::before {
  width: 100%;
}

header {
  background-color: #121212;
  position: fixed;
  width: 100%;
  z-index: 1;
}

body {
  background-color: #121212;
}

.navbarLeft p {
  color: #30C152;
  width: fit-content;
  margin: 0 0 0 15%;
  cursor: pointer;
  border: none;
  background: transparent;
}

.border-style-bottom {
  position: relative;
  z-index: 1;
}

.border-style-bottom::before {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(20deg, #30C152, #9f3ca8);
  transition: all 0.5s ease;
}

.border-style-bottom:hover::before {
  width: 100%;
}

.navbarRigth {
  display: flex;
  color: #ffffff;
  justify-content: center;
  gap: 30px;
}
.navbarRigth a {
  text-decoration: none;
  color: #ffffff;
}
.navbarRigth p {
  margin-bottom: 0;
}

.burguer {
  display: none;
}

.sobreMim-navbar {
  text-wrap: nowrap;
}

.home, .sobreMim {
  background-color: #121212;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.apresentacaoInfo {
  align-self: center;
}

.avatarProfile {
  padding: 10px;
}
.avatarProfile img {
  margin: 0;
}

.apresentacaoInfo .textInfo, .apresentacaoImage .textInfo {
  padding: 30px;
  margin-left: 15%;
}
.apresentacaoInfo .textInfo h5, .apresentacaoImage .textInfo h5 {
  color: #ffffff;
  margin-top: inherit;
}
.apresentacaoInfo .textInfo h6, .apresentacaoImage .textInfo h6 {
  color: #ffffff;
}
.apresentacaoInfo .textInfo h1, .apresentacaoImage .textInfo h1 {
  color: #30C152;
}
.apresentacaoInfo img, .apresentacaoImage img {
  width: 750px;
  padding: 10% 0;
}

.left {
  margin-left: 15%;
}

.buttons {
  margin-top: 3%;
  cursor: pointer;
}
.buttons .github {
  margin-left: 7px;
}

.perfilImage {
  width: 300px;
}

.textSobreMim {
  padding: 0 10% 20px;
  margin-bottom: 10%;
}
.textSobreMim h2 {
  color: #ffffff;
}
.textSobreMim h5 {
  padding: 20px 0 5px;
  color: #ffffff;
}
.textSobreMim p {
  color: #838282;
}

.experiencia {
  background-color: #121212;
}

.topicExperiencia {
  margin-left: 7%;
  width: 80%;
}
.topicExperiencia h5 {
  margin: 0;
  padding: 10px 10px;
  border-left: 3px solid #30C152;
  color: #ffffff;
}

.titleExperiencia {
  text-align: -webkit-center;
  padding-bottom: 7%;
}
.titleExperiencia h2 {
  padding-bottom: 2%;
}

.accordion {
  width: 80%;
  padding-bottom: 3%;
}

.titleCertificados {
  color: #ffffff;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem #30C152 !important;
  border: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("https://i.imgur.com/jKADfIq.png") !important;
  transform: rotate(-180deg);
  border: none;
}

.accordion-button::after {
  background-image: url("https://i.imgur.com/jKADfIq.png") !important;
  border: none;
}

.accordion-button {
  border-left: 3px solid #30C152;
  background-color: #121212 !important;
  color: #ffffff;
}

.accordion-flush .accordion-collapse {
  background-color: #121212 !important;
  color: #838282 !important;
}
.accordion-flush .accordion-collapse p {
  color: #30C152;
}

.dateCertificado {
  padding-top: 2%;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
}

.accordion-item {
  background-color: #121212;
}

.accordion-item:hover .accordion-button {
  background-color: #171717 !important;
}

.textExperiencia {
  margin-left: 7%;
  margin-bottom: 10%;
}
.textExperiencia h4 {
  color: #ffffff;
  width: 90%;
}
.textExperiencia h6 {
  color: #30C152;
  margin: 30px 0 20px;
}
.textExperiencia p {
  color: #838282;
}

.separationData {
  display: flex;
}
.separationData p {
  margin-bottom: 0;
  margin-top: 2px;
}

.projetos {
  margin-bottom: 10%;
}
.projetos a {
  text-decoration: none;
}
.projetos .container .row {
  padding: 0 10%;
}

.titleProject {
  color: #ffffff;
}
.titleProject h2 {
  margin-bottom: 8%;
}

.listProjects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5% 10%;
  margin-bottom: 10%;
  flex-wrap: wrap;
}
.listProjects .img-fluid {
  min-width: 80%;
  height: 13rem;
  border-left: 3px solid #30C152;
}
.listProjects h3 {
  margin: 7% 0 4%;
  color: #ffffff;
}
.listProjects p {
  color: #838282;
}
.listProjects .textSpecial {
  color: #30C152;
}

.icons-tech {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 16px;
}
.icons-tech i {
  font-size: 40px;
}
.icons-tech img {
  width: 50px;
  height: 50px;
  margin-left: -8px;
}

footer {
  background-color: #121212;
  padding-bottom: 2%;
}

.footer {
  text-align: center;
  color: #ffffff;
  text-align: -webkit-center;
}
.footer .frase {
  color: #838282;
}

.hidden {
  opacity: 0;
  filter: blur(15px);
}
.hidden .apresentacaoInfo, .hidden .image {
  transform: translateX(-100%);
  transition: all 0.8s;
}
.hidden .apresentacaoImage, .hidden .textSobreMim {
  transform: translateX(-100%);
  transition: all 1s;
}
.hidden.experiencia .titleCertificados {
  transform: translateX(-100%);
  transition: all 1s;
}
.hidden.experiencia .accordion {
  transform: translateX(-100%);
  transition: all 1s;
}
.hidden.projetos .titleProject, .hidden.projetos .listProjects {
  transform: translateX(-100%);
  transition: all 1s;
}
.hidden.footerClass {
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
}
.show .apresentacaoInfo, .show .apresentacaoImage, .show .image, .show .textSobreMim, .show .experiencia {
  transform: translateX(0);
  transition: all 1s;
}
.show.experiencia .titleCertificados, .show.experiencia .accordion {
  transform: translateX(0);
  transition: all 1s;
}
.show.projetos .titleProject, .show.projetos .listProjects {
  transform: translateX(0);
  transition: all 1s;
}
.show.footerClass {
  transform: translateX(0);
  transition: all 1s;
}

@media (max-width: 1199px) {
  .apresentacaoImage img {
    width: 600px;
  }
}
@media (max-width: 991px) {
  .apresentacaoInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .apresentacaoInfo .textInfo {
    margin: 0;
  }
  .apresentacaoImage {
    text-align: center;
  }
  .image {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .image .perfilImage {
    margin: 0;
  }
  .listProjects {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
}
@media (max-width: 767px) {
  .apresentacaoInfo img, .apresentacaoImage img {
    width: 400px;
  }
}
@media (max-width: 575px) {
  #navbarLeft p {
    text-align: center;
  }
  .listProjects .img-fluid {
    width: 100%;
  }
}
@media (max-width: 522px) {
  .burguer {
    display: block;
    color: #ffffff;
    display: contents;
    cursor: pointer;
  }
  .navbarRigth {
    display: none;
  }
  i {
    color: #ffffff;
  }
  .dropdown-item {
    color: #ffffff;
  }
  .dropdown-menu {
    background-color: #121212;
  }
}
@media (max-width: 425px) {
  .apresentacaoInfo img, .apresentacaoImage img {
    width: 300px;
  }
  .perfilImage {
    width: 200px;
  }
}
@media (max-width: 325px) {
  .apresentacaoInfo img, .apresentacaoImage img {
    width: 200px;
  }
  .apresentacaoInfo h5, .apresentacaoImage h5 {
    margin-left: 10%;
  }
  .apresentacaoInfo h6, .apresentacaoImage h6 {
    margin-left: 10%;
  }
  .apresentacaoInfo h1, .apresentacaoImage h1 {
    margin-left: 10%;
  }
  .buttons {
    margin-left: 10%;
  }
  footer .frase {
    font-size: small;
  }
  footer p {
    font-size: 9px;
    width: 60%;
    margin: 0 auto 2%;
  }
}

/*# sourceMappingURL=style.css.map */
