
$backgroundcolorPrimary: #121212;
$backgroundcolorSecondary: #171717;
$colorPrimary: #30C152;
$colorSecondary: #ffffff;
$colorTertiary:#9f3ca8;
$textComum: #838282;

@mixin buttonStyle ($border, $border-image, $border-image-slice, $border-radius, $background-color, $color) {
    border: $border;
    border-image: $border-image;
    border-image-slice: $border-image-slice;
    border-radius: $border-radius;
    background-color: $background-color;
    color: $color;
}

.button {
    @include buttonStyle(2px solid transparent, linear-gradient(20deg, $colorPrimary, $colorTertiary),1, 10px, $backgroundcolorPrimary, $colorSecondary);
}

header{
    background-color: $backgroundcolorPrimary;
}

.navbarLeft p{
    color: $colorPrimary;
    margin: 0 0 0 15%;
}

.navbarRigth {
    display: flex;
    color: $colorSecondary;
    justify-content: center;
    a {
        text-decoration: none;
        color: $colorSecondary;
    }
    p {
        margin-bottom: 0;
        padding: 0 15px;
        cursor: pointer;
    }
}

.burguer{
    display: none;
}

.sobreMim-navbar {
    min-width: 108px;
}

.home {
    background-color: $backgroundcolorPrimary;
}

.apresentacao {
    h5 {
        color: $colorSecondary;
        margin-left: 15%;
        margin-top: inherit;
    }
    h6 {
        color: $colorSecondary;
        margin-left: 15%;
    }
    h1 {
        color: $colorPrimary;
        margin-left: 15%;
    }
    img {
        width: 750px;
        padding: 10% 0;
    }
}

.left {
    margin-left: 15%;
}

.buttons {
    margin-top: 3%;
    margin-left: 15%;
    cursor: pointer;
    .github {
        margin-left: 7px;
    }
}

.sobreMim {
    background-color: $backgroundcolorSecondary;
}

.perfilImage {
    width: 300px;
    border-left: 3px solid $colorPrimary;
    margin-left: 13%;
}

.textSobreMim {
    padding: 0 10%;
    margin-bottom: 10%;
    h2 {
        color: $colorSecondary;
    }
    h5{
        padding: 20px 0 5px;
        color: $colorSecondary;
    }
    p {
        color: $textComum;
    }
}

.experiencia {
    background-color: $backgroundcolorPrimary;
}

.topicExperiencia {
    margin-left: 7%;
    width: 80%;
    h5 {
        margin: 0;
        padding: 10px 10px;
        border-left: 3px solid $colorPrimary;
        color: $colorSecondary;
    }
}

.titleExperiencia {
    text-align: -webkit-center;
    padding-bottom: 7%;
    h2 {
        padding-bottom: 2%;
    }
}

.accordion {
    width: 80%;
    padding-bottom: 3%;
}

.titleCertificados {
    color: $colorSecondary;
}

.accordion-item {
    color: $colorSecondary;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem $colorPrimary !important;
    border: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('https://i.imgur.com/jKADfIq.png') !important;
    transform: rotate(-180deg);
    border: none;
}

.accordion-button::after {
    background-image: url('https://i.imgur.com/jKADfIq.png') !important;
    border: none;
}

.accordion-button {
    border-left: 3px solid $colorPrimary;
}

.accordion-button {
    background-color: $backgroundcolorPrimary !important;
    color: $colorSecondary;
}

.accordion-flush .accordion-collapse {
    background-color: $backgroundcolorPrimary !important;
    color: $textComum !important;
    p {
        color: $colorPrimary;
    }
}

.dateCertificado {
    padding-top: 2%;
}

.accordion-button:not(.collapsed){
    color: $colorSecondary;
}

.accordion-item {
    background-color: $backgroundcolorPrimary;
}

.textExperiencia {
    margin-left: 7%;
    margin-bottom: 10%;
    h4{
        color: $colorSecondary;
        width: 90%;
    }
    h6 {
        color: $colorPrimary;
        margin: 30px 0 20px;
    }
    p {
        color: $textComum;
    }
}

.separationData {
    display: flex;
    p {
        margin-bottom: 0;
        margin-top: 2px;
    }
}


.projetos {
    background-color: $backgroundcolorSecondary;
    a {
        text-decoration: none;
    }
}

.titleProject {
    color: $colorSecondary;
    h2 {
        margin-left: 9.2%;
    }
}

.projectsLeft {
    margin-bottom: 10%;
    padding-left: 10%;
    flex-wrap: wrap;
    img {
        min-width: 70%;
        border-left: 3px solid $colorPrimary;
        margin-top: 8%;
    }
    h3 {
        margin: 7% 0 4%;
        color: $colorSecondary;
    }
    p {
        color: $textComum;
    }
    .textSpecial {
        color: $colorPrimary;
    }
    button {
        margin-bottom: 30px;
        display: block;
    }
}
.projectsRigth {
    margin-bottom: 10%;
    padding-left: 10%;
    flex-wrap: wrap;
    img {
        min-width: 70%;
        border-left: 3px solid $colorPrimary;
        margin-top: 8%;
    }
    h3 {
        margin: 7% 0 4%;
        color: $colorSecondary;
    }
    p {
        color: $textComum;
    }
    .textSpecial {
        color: $colorPrimary;
    }
    button {
        margin-bottom: 10%;
        display: block;
    }
}
footer {
    background-color: $backgroundcolorPrimary;
    padding-bottom: 2%;
}
.footer{
    text-align: center;
    color: $colorSecondary;
    text-align: -webkit-center;
    .frase {
        color: $textComum;
    }
}




@media (max-width: 1199px){
    .apresentacao {
        img {
            width: 600px;
        }
    }
}

@media (max-width: 991px){
    .apresentacao{

        h5 {
            margin-left: 15%;
        }
        h6 {
            margin-left: 15%;
        }
        h1 {
            margin-left: 15%;
        }
    }
    .image {
        text-align: center;
        .perfilImage {
            margin: 0;
        }
    }
}



@media(max-width: 767px){
    .apresentacao{
        img {
            width: 400px;
        }
    }
}



@media (max-width: 575px) {
    #navbarLeft p{
        text-align: center;
    }
}



@media (max-width: 522px) {
    .burguer{
        display: block;
        color: $colorSecondary;
        display: contents;
        cursor: pointer;
    }
    .navbarRigth{
        display: none;
    }
    i {
        color: $colorSecondary;
    }
    .dropdown-item {
        color: $colorSecondary;
    }
    .dropdown-menu {
        background-color: $backgroundcolorPrimary;
    }
}



@media(max-width: 425px) {
    .apresentacao{
        img {
            width: 300px;
        }
    }
    .perfilImage {
        width: 200px;
    }
}



@media(max-width: 325px){
    .apresentacao{
        img {
            width: 200px;
        }
        h5 {
            margin-left: 10%;
        }
        h6 {
            margin-left: 10%;
        }
        h1 {
            margin-left: 10%;
        }
    }
    .buttons {
        margin-left: 10%;
    }
    footer {
        .frase {
            font-size: small;
        }
        p {
            font-size: 9px;
            width: 60%;
            margin: 0 auto 2%;
        }
    }
}
